{% extends 'base.html.twig' %}

{% block title %}Editer la Catégorie - {{ category.name }}{% endblock %}

{% block body %}
    <h1>Editer une Catégorie : {{ category.name }}</h1>
    {{ form(form) }}
{% endblock %}
